In [5]:
import pandas as pd
from requests import get
from sqlalchemy import create_engine

In [ ]:
#Code ran to retreive data from HTML tables off the web, no need to run again as CSV files are already stored. 

url = "https://brainstats.com/en/average-iq"
url2 = "https://laendercode.net/en/3-letter-list.html"

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

html = get(url, headers=header).text
html2 = get(url2,headers=header).text
IQ_df = pd.read_html(html)[0]
Country_df = pd.read_html(html2)[0]

IQ_df.to_csv("Resources/IQ_by_country.csv")
Country_df.to_csv("Resources/Country_abbreviations.csv")

In [2]:
Chess_df = pd.read_csv("Resources/fide_historical.csv")
Country_abb_df = pd.read_csv("Resources/Country_abbreviations.csv")
Country_IQ_df = pd.read_csv("Resources/IQ_by_country.csv")
IQ_by_country_df = pd.merge(Country_IQ_df,Country_abb_df,on = "Country")
IQ_by_country_df.columns = ["Rank", "Full Name", "IQ Average", "Country"]
Chess_players_df = pd.merge(IQ_by_country_df, Chess_df, on = "Country")
Chess_players_complete_df = Chess_players_df.drop(columns=["Rank","title","games","ranking_date"])
Chess_players_complete_df.sort_values("rank")

,Full Name,IQ Average,Country,rank,name,rating,birth_year
29,Russia,97,RUS,1,"Kasparov, Garry",2849,1963
30,Russia,97,RUS,2,"Kramnik, Vladimir",2770,1975
79,India,82,IND,3,"Anand, Viswanathan",2762,1969
31,Russia,97,RUS,4,"Morozevich, Alexander",2756,1977
6,United Kingdom,100,GBR,5,"Adams, Michael",2755,1971
...,...,...,...,...,...,...,...
27,United States,98,USA,95,"Yermolinsky, Alex",2596,1958
52,Russia,97,RUS,96,"Kuzmin, Alexey",2596,1963
70,Armenia,94,ARM,98,"Minasian, Artashes",2595,1967
60,Moldova,96,MDA,99,"Iordachescu, Viorel",2594,1977
53,Russia,97,RUS,100,"Fominyh, Alexander",2594,1959

In [12]:
engine = create_engine('sqlite://', echo=False)
Chess_players_complete_df.to_sql('Chess_db', con=engine)

results = engine.execute("SELECT * FROM Chess_db").fetchall()
for row in results:
    if row[3] == 'USA':
        print(row)

(23, 'United States', 98, 'USA', 36, 'Seirawan, Yasser', 2647, 1960)
(24, 'United States', 98, 'USA', 40, 'Gulko, Boris F', 2643, 1947)
(25, 'United States', 98, 'USA', 59, 'Kaidanov, Gregory S', 2624, 1959)
(26, 'United States', 98, 'USA', 87, 'Shabalov, Alexander', 2601, 1967)
(27, 'United States', 98, 'USA', 95, 'Yermolinsky, Alex', 2596, 1958)