In [1]:
import pandas as pd
from requests import get

In [3]:
#Code ran to retreive data from HTML tables off the web, no need to run again as CSV files are already stored. 

url = "https://brainstats.com/en/average-iq"
url2 = "https://laendercode.net/en/3-letter-list.html"

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

html = get(url, headers=header).text
html2 = get(url2,headers=header).text
IQ_df = pd.read_html(html)[0]
Country_df = pd.read_html(html2)[0]

IQ_df.to_csv("Resources/IQ_by_country.csv")
Country_df.to_csv("Resources/Country_abbreviations.csv")

In [3]:
Chess_df = pd.read_csv("Resources/fide_historical.csv")
Country_abb_df = pd.read_csv("Resources/Country_abbreviations.csv")
Country_IQ_df = pd.read_csv("Resources/IQ_by_country.csv")
IQ_by_country_df = pd.merge(Country_IQ_df,Country_abb_df,on = "Country")
IQ_by_country_df.columns = ["Rank", "Full Name", "IQ Average", "Country"]

Chess_players_df = pd.merge(IQ_by_country_df, Chess_df, on = "Country")
Chess_players_df.drop(columns="Rank")
Chess_players_df.sort_values("rank")

,Rank,Full Name,IQ Average,Country,ranking_date,rank,name,title,rating,games,birth_year
29,10,Russia,97,RUS,27-07-00,1,"Kasparov, Garry",g,2849,35,1963
30,10,Russia,97,RUS,27-07-00,2,"Kramnik, Vladimir",g,2770,23,1975
79,25,India,82,IND,27-07-00,3,"Anand, Viswanathan",g,2762,23,1969
31,10,Russia,97,RUS,27-07-00,4,"Morozevich, Alexander",g,2756,28,1977
6,7,United Kingdom,100,GBR,27-07-00,5,"Adams, Michael",g,2755,38,1971
...,...,...,...,...,...,...,...,...,...,...,...
27,9,United States,98,USA,27-07-00,95,"Yermolinsky, Alex",g,2596,44,1958
52,10,Russia,97,RUS,27-07-00,96,"Kuzmin, Alexey",g,2596,22,1963
70,13,Armenia,94,ARM,27-07-00,98,"Minasian, Artashes",g,2595,29,1967
60,11,Moldova,96,MDA,27-07-00,99,"Iordachescu, Viorel",g,2594,79,1977
53,10,Russia,97,RUS,27-07-00,100,"Fominyh, Alexander",g,2594,45,1959