In [5]:
import pandas as pd
from requests import get
import sqlalchemy

In [ ]:
#Code ran to retreive data from HTML tables off the web, no need to run again as CSV files are already stored. 

url = "https://brainstats.com/en/average-iq"
url2 = "https://laendercode.net/en/3-letter-list.html"

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

html = get(url, headers=header).text
html2 = get(url2,headers=header).text
IQ_df = pd.read_html(html)[0]
Country_df = pd.read_html(html2)[0]

IQ_df.to_csv("Resources/IQ_by_country.csv")
Country_df.to_csv("Resources/Country_abbreviations.csv")

In [10]:
Chess_df = pd.read_csv("Resources/fide_historical.csv")
Country_abb_df = pd.read_csv("Resources/Country_abbreviations.csv")
Country_IQ_df = pd.read_csv("Resources/IQ_by_country.csv")
IQ_by_country_df = pd.merge(Country_IQ_df,Country_abb_df,on = "Country")
IQ_by_country_df.columns = ["Rank", "Full Name", "IQ Average", "Country"]
Chess_players_df = pd.merge(IQ_by_country_df, Chess_df, on = "Country")
Chess_players_complete_df = Chess_players_df.drop(columns=["Rank","title","games","ranking_date"])
Chess_players_complete_df.sort_values("rank")

,Full Name,IQ Average,Country,rank,name,rating,birth_year
29,Russia,97,RUS,1,"Kasparov, Garry",2849,1963
30,Russia,97,RUS,2,"Kramnik, Vladimir",2770,1975
79,India,82,IND,3,"Anand, Viswanathan",2762,1969
31,Russia,97,RUS,4,"Morozevich, Alexander",2756,1977
6,United Kingdom,100,GBR,5,"Adams, Michael",2755,1971
...,...,...,...,...,...,...,...
27,United States,98,USA,95,"Yermolinsky, Alex",2596,1958
52,Russia,97,RUS,96,"Kuzmin, Alexey",2596,1963
70,Armenia,94,ARM,98,"Minasian, Artashes",2595,1967
60,Moldova,96,MDA,99,"Iordachescu, Viorel",2594,1977
53,Russia,97,RUS,100,"Fominyh, Alexander",2594,1959

In [13]:
engine = create_engine('sqlite://', echo=False)
Chess_players_complete_df.to_sql('Chess_db', con=engine)
engine.execute("SELECT * FROM Chess_db").fetchall()

[(0, 'China', 105, 'CHN', 20, 'Ye, Jiangchuan', 2670, 1960),
 (1, 'China', 105, 'CHN', 22, 'Xu, Jun', 2668, 1962),
 (2, 'China', 105, 'CHN', 29, 'Peng, Xiaomin', 2657, 1973),
 (3, 'China', 105, 'CHN', 47, 'Zhang, Zhong', 2636, 1978),
 (4, 'China', 105, 'CHN', 86, 'Wang, Zili', 2603, 1968),
 (5, 'China', 105, 'CHN', 88, 'Wu, Wenjin', 2601, 1976),
 (6, 'United Kingdom', 100, 'GBR', 5, 'Adams, Michael', 2755, 1971),
 (7, 'United Kingdom', 100, 'GBR', 16, 'Short, Nigel D.', 2677, 1965),
 (8, 'United Kingdom', 100, 'GBR', 44, 'Hodgson, Julian M.', 2640, 1963),
 (9, 'United Kingdom', 100, 'GBR', 52, 'Sadler, Matthew', 2628, 1974),
 (10, 'United Kingdom', 100, 'GBR', 61, 'Speelman, Jonathan S.', 2623, 1956),
 (11, 'Belgium', 99, 'BEL', 24, 'Gurevich, Mikhail', 2667, 1959),
 (12, 'Estonia', 99, 'EST', 54, 'Ehlvest, Jaan', 2627, 1962),
 (13, 'Poland', 99, 'POL', 10, 'Krasenkow, Michal', 2702, 1963),
 (14, 'Sweden', 99, 'SWE', 43, 'Andersson, Ulf', 2641, 1951),
 (15, 'France', 98, 'FRA', 31, 'Tkachiev, Vladislav', 2657, 1973),
 (16, 'France', 98, 'FRA', 35, 'Lautier, Joel', 2648, 1973),
 (17, 'France', 98, 'FRA', 67, 'Bacrot, Etienne', 2613, 1983),
 (18, 'France', 98, 'FRA', 89, 'Dorfman, Josif D', 2600, 1952),
 (19, 'Hungary', 98, 'HUN', 7, 'Leko, Peter', 2743, 1979),
 (20, 'Hungary', 98, 'HUN', 23, 'Almasi, Zoltan', 2668, 1976),
 (21, 'Hungary', 98, 'HUN', 32, 'Polgar, Judit (GM)', 2656, 1976),
 (22, 'Spain', 98, 'ESP', 6, 'Shirov, Alexei', 2746, 1972),
 (23, 'United States', 98, 'USA', 36, 'Seirawan, Yasser', 2647, 1960),
 (24, 'United States', 98, 'USA', 40, 'Gulko, Boris F', 2643, 1947),
 (25, 'United States', 98, 'USA', 59, 'Kaidanov, Gregory S', 2624, 1959),
 (26, 'United States', 98, 'USA', 87, 'Shabalov, Alexander', 2601, 1967),
 (27, 'United States', 98, 'USA', 95, 'Yermolinsky, Alex', 2596, 1958),
 (28, 'Belarus', 97, 'BLR', 37, 'Fedorov, Alexei', 2646, 1972),
 (29, 'Russia', 97, 'RUS', 1, 'Kasparov, Garry', 2849, 1963),
 (30, 'Russia', 97, 'RUS', 2, 'Kramnik, Vladimir', 2770, 1975),
 (31, 'Russia', 97, 'RUS', 4, 'Morozevich, Alexander', 2756, 1977),
 (32, 'Russia', 97, 'RUS', 11, 'Bareev, Evgeny', 2702, 1966),
 (33, 'Russia', 97, 'RUS', 12, 'Karpov, Anatoly', 2699, 1951),
 (34, 'Russia', 97, 'RUS', 14, 'Svidler, Peter', 2689, 1976),
 (35, 'Russia', 97, 'RUS', 18, 'Dreev, Alexey', 2676, 1969),
 (36, 'Russia', 97, 'RUS', 21, 'Rublevsky, Sergei', 2670, 1974),
 (37, 'Russia', 97, 'RUS', 25, 'Khalifman, Alexander', 2667, 1966),
 (38, 'Russia', 97, 'RUS', 38, 'Salov, Valery', 2644, 1964),
 (39, 'Russia', 97, 'RUS', 45, 'Shipov, Sergei', 2640, 1966),
 (40, 'Russia', 97, 'RUS', 48, 'Zvjaginsev, Vadim', 2634, 1976),
 (41, 'Russia', 97, 'RUS', 53, 'Sakaev, Konstantin', 2627, 1974),
 (42, 'Russia', 97, 'RUS', 56, 'Kharlov, Andrei', 2627, 1968),
 (43, 'Russia', 97, 'RUS', 62, 'Tregubov, Pavel V.', 2620, 1971),
 (44, 'Russia', 97, 'RUS', 64, 'Korneev, Oleg', 2619, 1969),
 (45, 'Russia', 97, 'RUS', 74, 'Landa, Konstantin', 2610, 1972),
 (46, 'Russia', 97, 'RUS', 78, 'Dolmatov, Sergey', 2608, 1959),
 (47, 'Russia', 97, 'RUS', 80, 'Magomedov, Magaram', 2608, 1966),
 (48, 'Russia', 97, 'RUS', 81, 'Grischuk, Alexander', 2606, 1983),
 (49, 'Russia', 97, 'RUS', 83, 'Malakhov, Vladimir', 2605, 1980),
 (50, 'Russia', 97, 'RUS', 84, 'Smagin, Sergey', 2605, 1958),
 (51, 'Russia', 97, 'RUS', 94, 'Najer, Evgeniy', 2597, 1977),
 (52, 'Russia', 97, 'RUS', 96, 'Kuzmin, Alexey', 2596, 1963),
 (53, 'Russia', 97, 'RUS', 100, 'Fominyh, Alexander', 2594, 1959),
 (54, 'Ukraine', 97, 'UKR', 8, 'Ivanchuk, Vassily', 2719, 1969),
 (55, 'Ukraine', 97, 'UKR', 51, 'Ponomariov, Ruslan', 2630, 1983),
 (56, 'Ukraine', 97, 'UKR', 55, 'Onischuk, Alexander', 2627, 1975),
 (57, 'Ukraine', 97, 'UKR', 70, 'Novikov, Igor A', 2611, 1962),
 (58, 'Ukraine', 97, 'UKR', 90, 'Baklan, Vladimir', 2599, 1978),
 (59, 'Moldova', 96, 'MDA', 42, 'Bologan, Viktor', 2641, 1971),
 (60, 'Moldova', 96, 'MDA', 99, 'Iordachescu, Viorel', 2594, 1977),
 (61, 'Slovakia', 96, 'SVK', 77, 'Ftacnik, Lubomir', 2608, 1957),
 (62, 'Israel', 95, 'ISR', 15, 'Gelfand, Boris', 2681, 1968),
 (63, 'Israel', 95, 'ISR', 17, 'Smirin, Ilia', 2677, 1968),
 (64, 'Israel', 95, 'ISR', 58, 'Avrukh, Boris', 2625, 1978),
 (65, 'Israel', 95, 'ISR', 72, 'Psakhis, Lev', 2611, 1958),
 (66, 'Israel', 95, 'ISR', 75, 'Sutovsky, Emil', 2609, 1977),
 (67, 'Armenia', 94, 'ARM', 28, 'Akopian, Vladimir', 2660, 1971),
 (68, 'Armenia', 94, 'ARM', 60, 'Vaganian, Rafael A', 2623, 1951),
 (69, 'Armenia', 94, 'ARM', 93, 'Lputian, Smbat G', 2598, 1958),
 (70, 'Armenia', 94, 'ARM', 98, 'Minasian, Artashes', 2595, 1967),
 (71, 'Georgia', 94, 'GEO', 19, 'Azmaiparashvili, Zurab', 2673, 1960),
 (72, 'Georgia', 94, 'GEO', 91, 'Giorgadze, Giorgi', 2599, 1964),
 (73, 'Kazakhstan', 94, 'KAZ', 92, 'Vladimirov, Evgeny', 2598, 1957),
 (74, 'Bosnia and Herzegovina', 90, 'BIH', 30, 'Nikolic, Predrag', 2657, 1960),
 (75, 'Bosnia and Herzegovina', 90, 'BIH', 71, 'Sokolov, Ivan', 2611, 1968),
 (76, 'Uzbekistan', 87, 'UZB', 13, 'Kasimdzhanov, Rustam', 2690, 1979),
 (77, 'Uzbekistan', 87, 'UZB', 41, 'Nenashev, Alexander', 2642, 1962),
 (78, 'Peru', 85, 'PER', 85, 'Granda Zuniga, Julio E', 2605, 1967),
 (79, 'India', 82, 'IND', 3, 'Anand, Viswanathan', 2762, 1969)]