In [5]:
from pandas import read_html
import pandas as pd
from requests import get

In [2]:
url = "https://brainstats.com/en/average-iq"

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

html = get(url, headers=header).text

IQ_df = read_html(html)[0]

IQ_df.to_csv("IQ_by_countryy.csv")

In [8]:
# File Location
fide_historical_clean = "Resources/fide_historical_updated_clean.csv"

In [9]:
# Read Poetry Analysis Data File As A Pandas Dataframe
fide_historical_clean_df = pd.read_csv(fide_historical_clean)
fide_historical_clean_df.head(5)

,ranking_date,rank,name,title,country,rating,games,birth_year
0,27-07-00,1,"Kasparov, Garry",g,RUS,2849,35,1963
1,27-07-00,2,"Kramnik, Vladimir",g,RUS,2770,23,1975
2,27-07-00,3,"Anand, Viswanathan",g,IND,2762,23,1969
3,27-07-00,4,"Morozevich, Alexander",g,RUS,2756,28,1977
4,27-07-00,5,"Adams, Michael",g,ENG,2755,38,1971